html{color:black;}
body{font-family: 'Times New Roman', Times, serif;
width:auto;
font-size:90%}
p.center{color:black;}
img {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}
main table h1{font-size:80%;}
nav{display:none}
th,td,{border:3px solid black;}
table{margin-left:50px;}
table figure img{display:none;}