html{background-image:url("../images/Honk_Back.jpg");
    background-repeat:no-repeat;
    background-size:cover;}
    
    body{font-family:'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    width:1000px;
    background-color:#33DDFF;
    margin:0 auto;
    padding:0;
    border:3px solid black;
    border-radius:5px;}
    
    /*Header*/
    header{background:black;
        padding:1px;
        border-bottom:2px solid white;}
    header img{float:left;}
    header img.right{float:right;}
    header h1{font-size:230%;
    color:white;}
    header p{color:red;
    }
    .center{text-align:center;}
    
    /*Nav menu*/
    nav{background-color:black;
    padding-bottom:1.25em;
    width:100%;
    clear:all;}
    
    nav ul{list-style: none;
    margin:0;
    padding:0;
    display:block;
    position:relative;
    text-align:center;}
    
    nav ul li{float:left;
    width:25%;
    }
    
    nav ul li a{text-align:center;
    display: block;
    text-decoration:none;
    padding-top:2em ;
    padding-bottom:1.5em;
    color:white;
    font-weight:bold;
    font-size:100%;
    border-right: 2px solid white;
    }
    nav ul ul{display:none;
    position:absolute;
    background-color:black;
    width:248px;}
    
    nav ul ul li{float:none;
    width: 248px;
    text-align:center;
    }
    nav ul ul li a:link{margin:0;}
    nav ul ul li a{text-align:center;
    display:block;
    border-top:2px solid white;
    border-right:none;}
    nav ul li:hover>ul{display:block;
    clear:both;}
    nav ul ul li{float:none;
    position:relative;}
    nav ul li a.last{border-right:none;}
    nav a:link, a:visited{color:white;}
    nav a:hover,a:focus{color:orange;}

    main{background-color:#33DDFF;}
    #left{color:black;
    margin-left:20px;
    }
    #right{color:black;
    float:right;
    margin-right:20px;}
    main h1{text-align:center;
    background-color:orange;
    border:3px solid black;
    margin-left:20px;
    margin-right:20px;}
    main p{text-align:center;
    margin-left:50px;
    margin-right:50px;}
    main table h1{text-indent:0;}
    
    
   table{background-color:#333333;
    
    margin-left:150px;
    color:white;}
    table th{font-size:40px;
    padding-left:180px;
    padding-right:180px;}
    th,td{border:3px solid orange;
    text-align:center;
    }
    td.none{border-bottom:none;}
    table b{font-size:190%}
   
    
    

    
    
    /*Footer*/
    footer{text-align:center;
        background-color:black;
        color:white;
        border-top:2px solid black;
        padding:15px;
        clear:both;}
        footer a{color:white;}